<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light only">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  {% if site.favicon_ico %}<link rel="icon" href="{{ site.favicon_ico }}">{% endif %}
  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">
</head>
